<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBmUEJQlXMxGlG8Kaic3FJ0Vc9jZ95wdIw</string>
	<key>GCM_SENDER_ID</key>
	<string>636950260473</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vibecheq.dev</string>
	<key>PROJECT_ID</key>
	<string>vibecheq-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>vibecheq-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:636950260473:ios:c721369151bf8c7be4d028</string>
	<key>DATABASE_URL</key>
	<string>https://vibecheq-dev-default-rtdb.firebaseio.com</string>
</dict>
</plist>